body{
    background: linear-gradient(135deg, #039cfa, #004aad);
}

.item-to-do{
    display: flex;
    align-items: center;
    margin-top: -20px;
    position: relative;
    border: transparent;
    border-radius: 10px;
    height: 40px;
    top: 22px;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0 0 5px black;
}

.item-to-do p{
    margin-top: 14px;
    margin-left: 5px;
    padding-right: 100px;
}

#cont-to-do-list p{
    word-break: break-word;
    
}

#cont-completed-list p{
    word-break: break-word;
}

.formulario{
    padding: 20px;
}

form.form-register input{
    border-radius: 5px;
    width: 450px;
    border: transparent;
    background: #dcdcdc;
    height: 30px;
    padding: 10px;
  
}

form.form-register input:focus{
    outline: none;
    border: 2px solid #039cfa;
}

form.form-register{
    position: relative;
}

form.form-register button{
    border-radius: 5px;
    background: #025df4;
    color: white;
    transition: 0.5s;
    position: absolute;
    right: 8px;
    border: transparent;
    height: 30px;
}

form.form-register button:hover{
    background: white;
    color: black;
    border: 1px solid black;
}

#global-content{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 20px black;
    background: white;
    margin-top: 100px;
    margin-bottom: 150px;
}

.item-to-do button{
    border-radius: 5px;
    background: red;
    color: white;
    border: transparent;
    position: absolute;
    right: 10px;
    transition: 0.5s;
}

.item-to-do button:hover{
    transform: scale(1.1);
}

#global-content h1{
    text-align: center;
    font-size: 30px;
    color:#004aad;
}

#global-content h2{
    font-size: 20px;
}

#cont-completed-list .item-to-do p{
    text-decoration: line-through;
}

#changeStyles{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    border: transparent;
    transition: 0.5s;
}

#changeStyles:hover{
    transform: scale(1.1);
}

